;(logging/init {:console true})
;EXTRA_CLASSPATH https://stackoverflow.com/questions/27766730/riemann-io-add-jar-to-classpath
(logging/init {:file "/path/nats2riemann/riemann.log"})


(let [host "127.0.0.1"]
(tcp-server {:host host})
(udp-server {:host host})
(repl-server {:host host})
(ws-server  {:host host}))

(instrumentation {:enabled? false})


; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
; Inbound events will be passed to these streams:
(streams
  (default :ttl 60
    ; Index all events immediately.
    index

    ; Log expired events.
    (expired
      (fn [event] (info "expired" event))))))
